.thumbsContainer{
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
};

.thumb{
    display: inline-flex;
    border-radius: 2px;
    padding: 4px;
    box-sizing: border-box
}

.thumbInner{
    display: flex;
    overflow: hidden;
}